.transform-translate-50 {
    transform: translate(-50%, 80%);
}

section {
    position: relative;
    z-index: 1;
}

body {
    font-family: 'Manrope';
    font-style: normal;
    overflow-x: hidden;
}

main {
    overflow: hidden;
}

.p-16 {
    font-size: 18px;
    line-height: 25px;

    @media(max-width: 1600px) {
        font-size: 16px;
        line-height: 22px;
    }
}

.p-20 {
    font-size: 20px;
    line-height: 25px;
}

.p-24 {
    font-size: 24px;
    line-height: 30px;

    @media(max-width: 1600px) {
        //font-size: 16px;
        //line-height: 22px;
    }
}

.p-28 {
    font-size: 28px;
    line-height: 36px;
}

.p-400 {
    font-weight: 400;
}

.p-700 {
    font-weight: 700;
}

.p-800 {
    font-weight: 800;
}

.h2 {
    font-family: 'Lora' !important;
    font-style: italic !important;
    font-size: 50px !important;
    line-height: 52px !important;
}

.btn:hover {
    & svg {
        & path {
            stroke: black;
        }
    }

}

.position-lg-absolute {
    @media(min-width: 992px) {
        position: absolute !important;
    }
}

.bg-cinza {
    background: #eaeaea;
}

.color-laranja {
    --swiper-theme-color: #D93A1A;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
    height: 30px;
    width: 30px;
}

.box-shadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.pm-1 {
    padding: 1rem;
    margin: -1rem;
}
